body {
	direction:ltr;
	background-color:#fdd592;
	font-family:Arial, sans-serif;
	
}


/* header */

.wrapper {
	width:1000px;
	margin:0 auto;
	margin-top:70px;
	
}

h1 {
	font-size:55px;
	color:#fff;
	background-color:#a81809;
	text-align:center;
	height:93px;
	line-height:93px;
	font-weight:bold;
}

/* section - 2 */

.wrapper {
	width:1000px;
	background-color:#f9f0dc;
}

h2 {
	font-size:32px;
	text-align:center;
	margin-top:-70px;
	color:#a81809;
	padding:60px;
}

p {
	text-align:center;
	font-size:18px;
	margin-top:-35px;
	margin-bottom:25px;
}

.gallery img {
	width:300px;
	display:inline-block;
	padding:13px;
}

.gallery:first-child {
	margin-right:37px;
}

.gallery:last-child {
	margin-left:37px;
}